h1 {
    color: blue;
}

.quoteBlocks {
    display: flex;
    flex-wrap: wrap;
}

.quoteBlock {
    background-color: blanchedalmond;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
}

.quote {
    font-style: italic;
}

.author {
    font-weight: bold;
}